@media (max-width:1230px) {
  .intro-container .hello{
    font-size: 3rem;
  }
  .intro-container .profiletitle{
    font-size: 2.5rem;
  }
  .intro-container .p{
    font-size: 1.2rem;
  }
  .image-container .name{
    font-size: 2rem;
    text-align: center;
  } 
  .image-container #highlightRole{
    font-size: .9rem;
    text-align: center;
  } 
  .image-container #highlightRole1{
    font-size: 1rem;

  }
  .AboutMe{
    overflow-y: scroll;
    scroll-behavior: smooth;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.122);
  }
  .AboutMe::-webkit-scrollbar{
    display: none;
  }
  .AboutMe img{
    border-radius: 20%;
    height:450px;
    min-width: 100%;
   align-self: center;
   margin-top: -50px;
  }
  .About-Container p{
    font-size: 1.4rem;
    padding-bottom: 50px;
  }

  .skills-edu .education{
    font-size: 1rem;
    line-height: .85;
  }
  .skills-edu .skills{
    font-size: 1rem;
    line-height: .85;
   
  }
 #skillsheading{
  margin-bottom: 10px;
 } 
  .Certifications .json{
    font-size: 1rem;
    line-height: .9;
  }
}
@media (max-width:1055px){

  .intro-container .hello{
    font-size: 2.5rem;
  }
  .intro-container .profiletitle{
    font-size: 2rem;
  }
  .intro-container .p{
    font-size: 1.1rem;
  }
  .image-container .name{
    font-size: 2rem;
    text-align: center;
  } 
  .image-container #highlightRole{
    font-size: .7rem;
    text-align: center;
  } 
  .image-container #highlightRole1{
    font-size: .8rem;

  }
  #img{
    border-radius: 20%;
    height:400px;
    min-width: 100%;
   align-self: center;
   margin-top: -50px;
  }
  .ProjectContainer{
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  .ProjectContainer::-webkit-scrollbar{
    display: none;
  }
  .ProjectContainer .projects{
    flex-wrap: wrap;   
   
   }
   .projects .project img{
    min-width: 100%;
    height: 50%;
   }
   .project{
    height: 100%;
    min-width: 300px;
    flex: auto;
   }

   #contact{
    padding: 0;
    display: flex;
    gap: 0px;
   }
   .contact .contact__img{
    height: 300px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #summary img{
    object-fit: contain;
  }
  #summary .s-para{
    font-size: 1.1rem;
      line-height:1;
  }
  #functionalities video{
    width: 40%;
    height: 100%; 
    object-fit: contain;
  }
  #functionalities .f-para{
    font-size: 1.1rem;
      line-height:1;
  }
  #heading{
    font-size: 1.1rem;
    line-height:1.1;
  }
  #backend img{
    object-fit: contain;
  }
  #backend .b-para{
    font-size: 1.1rem;
    line-height:1;
  }

#summary1 img{
  object-fit: contain;
}
#summary1 .s-para{
  font-size: 1.1rem;
    line-height:1;
}
#functionalities1 video{
  width: 40%;
  height: 100%; 
  object-fit: contain;
}
#functionalities1 .f-para{
  font-size: 1.1rem;
    line-height:1;
}
#heading1{
  font-size: 1.1rem;
  line-height:1.1;
}
#backend1 img{
  object-fit: contain;
}
#backend1 .b-para{
  font-size: 1.1rem;
  line-height:1;
}
}
@media (max-width:860px){

  #wrapper .main-content{
    flex-wrap: wrap;
    overflow-y: scroll;
   
  }
  .main-content::-webkit-scrollbar{
    display: none;
  }
  #highlight{
   
    font-weight: 700;
    font-size: .9rem;
 
  }
 
  .intro-container .hello{
    font-size: 3rem;
  }
  .intro-container .profiletitle{
    font-size: 2.5rem;
  }
  .intro-container .p{
    font-size: 1.3rem;
  }
  .image-container .name{
    font-size: 2rem;
    text-align: center;
    padding-top: 10px;
  } 
  .image-container #highlightRole{
    font-size: .7rem;
    text-align: center;
  } 
  .image-container #highlightRole1{
    font-size: .8rem;
  }
  .bottom button{
    padding: 10px;
    font-size: .5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.081);
  }
  .bottom i{
    font-size: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .btn-text{
    display: none;
   
  }
  #contact{
    padding: 0;
    display: flex;
    gap: 0px;
   }
   .contact .contact__img{
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #contact .form {
    gap: 20px;
    min-width: 300px;
    height: 300px;
    padding: 20px;
  }
  .intro-container .hireme{
    min-height: 40px;
    margin-bottom: 20px;
   }
  
  #summary .s-para{
    font-size: 1rem;
      line-height:1;
  }
  #functionalities .f-para{
    font-size: 1rem;
      line-height:1;
  }
  #heading{
    font-size: .9rem;
    line-height:1;
  }

  /* #backend{
    flex-wrap: wrap;
  } */

  #backend .b-para{
    font-size: .9rem;
    line-height:1;
  }
  #summary1 .s-para{
    font-size: 1rem;
      line-height:1;
  }
  #functionalities1 .f-para{
    font-size: 1rem;
      line-height:1;
  }
  #heading1{
    font-size: .9rem;
    line-height:1;
  }

  /* #backend{
    flex-wrap: wrap;
  } */

  #backend1 .b-para{
    font-size: .9rem;
    line-height:1;
  }

}
@media (max-width:700px){
  #ems-header{
    font-size: .8rem;
  }
  #summary{
    flex-wrap: wrap;
    margin-bottom: 150px;
    padding-bottom: 50px;
padding-top: 100px;
  }
  #summary img{
    width: 100%;
    object-fit: contain;
    margin-top: -130px;
  }
  #summary .s-para{
    font-size: 1rem;
      line-height:1.1;
      height: 100%;
  }
  #functionalities{
    flex-wrap: wrap;
    margin-bottom: 150px;
    padding-bottom: 50px;
   
  }
  #functionalities video{
    width: 100%;
    object-fit: contain;
    margin-top: -100px;
  }
  #functionalities .f-para{
    font-size: 1rem;
    line-height:1.1;
    height: 100%;
    padding: 5px;
  }
  #heading{
    font-size: .9rem;
    line-height:1;
  }

  #backend{
    flex-wrap: wrap;
    margin-bottom: 150px;
    padding-bottom: 50px;
    
  }
  #backend img{
    width: 100%;
    object-fit: contain;
    margin-top: -100px;
  }
  #backend .b-para{
    font-size: .9rem;
    line-height:1.1;
  }
  #ems-header1{
    font-size: .8rem;
  }
  #ems-header1 h2{
    border-bottom: 1px solid rgba(255, 255, 255, 0.178);
    width: 100%;
    padding-bottom: 15px;
  }
  #ems-header1 span{
    border-bottom: 1px solid rgba(255, 255, 255, 0.144);
    width: 100%;
    margin-top: 6px;
    padding-bottom: 15px;
  }
  #summary1{
    flex-wrap: wrap;
    margin-bottom: 150px;
    padding-bottom: 50px;
padding-top: 100px;
  }
  #summary1 img{
    width: 100%;
    object-fit: contain;
    margin-top: -130px;
  }
  #summary1 .s-para{
    font-size: 1rem;
      line-height:1.1;
      height: 100%;
  }
  #functionalities1{
    flex-wrap: wrap;
    margin-bottom: 150px;
    padding-bottom: 50px;
   
  }
  #functionalities1 video{
    width: 100%;
    object-fit: contain;
    margin-top: -100px;
  }
  #functionalities1 .f-para{
    font-size: 1rem;
    line-height:1.1;
    height: 100%;
    padding: 5px;
  }
  #heading1{
    font-size: .9rem;
    line-height:1;
  }

  #backend1{
    flex-wrap: wrap;
    margin-bottom: 150px;
    padding-bottom: 50px;
    
  }
  #backend1 img{
    width: 100%;
    object-fit: contain;
    margin-top: -100px;
  }
  #backend1 .b-para{
    font-size: .9rem;
    line-height:1.1;
  }
}
@media (max-width:600px){
  .intro-container .p{
    font-size: 1.2rem;
  }
  .intro-container .hello{
    font-size: 2.5rem;
  }
  .intro-container .profiletitle{
    font-size: 2rem;
  }
  #AboutMe{
    gap: 30px;

  }
 
  #AboutMe img{
    height:350px;
    min-width: 100%;
    align-self: center;
    margin-top: -50px;
  }
  .About-Container p{
    font-size: 1.4rem;
    padding-bottom: 50px;
  }
  .skills-edu{
  flex-wrap: wrap;
  overflow-y: scroll;
  scroll-behavior: smooth;
  gap: 0;
 
  }
  .skills-edu::-webkit-scrollbar{
    display: none;
  }
  .skills-edu .education{
    font-size: 1rem;
    line-height: 1.2;
   
  }
  .skills-edu .skills{
    font-size: 1rem;
    line-height: 1.2;
  }
 #skillsheading{
  margin-bottom: 10px;
 } 

 #ems-header1{
  font-size: .8rem;
  border-bottom:none ;
}
#summary1{
  flex-wrap: wrap;
  margin-bottom:230px;
  padding-bottom: 50px;
padding-top: 150px;
}
#summary1 img{
  width: 100%;
  object-fit: contain;
  margin-top: -160px;
}
#summary1 .s-para{
  font-size: 1rem;
    line-height:1.1;
    height: 100%;
}
#functionalities1{
  flex-wrap: wrap;
  margin-bottom: 150px;
  padding-bottom: 50px;

}
#functionalities1 video{
  width: 100%;
  object-fit: contain;
  margin-top: -160px;
}
#functionalities1 .f-para{
  font-size: 1rem;
  line-height:1.1;
  height: 100%;
  padding: 5px;
}
#heading1{
  font-size: .9rem;
  line-height:1;
}


}
@media (max-width:685px){
  #contact{
   flex-wrap: wrap;
   }
   .contact .contact__img{
    height: 180px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #contact .form .flex  input{
    height: 45px;
  }
  #contact .form textarea{
    height: 80px;
  }
  .intro-container .hireme{
    min-height: 40px;
    margin-bottom: 20px;
   }
   #functionalities1{
    margin-bottom: 160px;
  }
 

}
@media (max-width:500px){
  #Base{
    min-height: 70vh;
  }
 
  .nav .actionBtns{
    gap: 5px;
  }
 
  .nav .resume {
    width: 100px;
   
  }
  .intro-container .p{
    font-size: 1rem;
  }
  .intro-container .hello{
    font-size: 2rem;
  }
  .intro-container .profiletitle{
    font-size: 1.5rem;
  }
  #highlight{
   
    font-weight: 700;
    font-size: .9rem;
 
  }
  #Certifications{
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  #Certifications::-webkit-scrollbar{
    display: none;
  }
    .Certifications .json {
      line-height: 1;
      font-size: 1rem;
      
    }
    .intro-container .hireme{
      min-height: 40px;
      margin-bottom: 20px;
     }
 
     #ems-header1{
  font-size: .8rem;
  border-bottom:none ;
  margin-bottom: 10px;
}
#ems-header1 h2{
  border-bottom: 1px solid rgba(255, 255, 255, 0.178);
  width: 100%;
  padding-bottom: 15px;
}
#ems-header1 span{
  border-bottom: 1px solid rgba(255, 255, 255, 0.144);
  width: 100%;
  margin-top: 6px;
  padding-bottom: 15px;
}
#summary1{
  flex-wrap: wrap;
  margin-bottom:230px;
  padding-bottom: 50px;
padding-top: 220px;
}
#summary1 img{
  width: 100%;
  object-fit: contain;
  margin-top: -260px;
}


#functionalities1 video{
  width: 100%;
  object-fit: contain;
  margin-top: -200px;
}
#backend1{
  flex-wrap: wrap;
  margin-bottom: 150px;
  padding-bottom: 50px;
  
}
#backend1 img{
  width: 100%;
  object-fit: contain;
  margin-top: -120px;
}
#backend1 .b-para{
  font-size: .9rem;
  line-height:1.1;
}
#heading1{
  font-size: .9rem;
  line-height:1;
}

}
@media (max-width:450px){
  #Base{
    min-height: 68vh;
  }
 .nav .brand{
  font-size: 2rem;

 }
  .nav .actionBtns{
    gap: 5px;
  }
 
   #wrapper #icons i{
    background-color: transparent;
  }
  .nav .resume {
    width: 100px;
  }
  
  #wrapper{
    min-width: 100%;
  }
  #wrapper .main-content .hireme{
    width: 100px;
  }
  #wrapper .main-content{
    height: 65vh;
  margin-top: -80px;
  min-width: 95%;
  }
 #wrapper .main-content .image-container{
  min-width: 95%;
 }
 #wrapper .main-content .image-container img{
  min-width: 95%;
  margin-top: -25px;
 }
 .intro-container{
  margin-top: -60px;
 }
  .intro-container .p{
    font-size: 1rem;
    line-height: 1.3;
  }
  .intro-container .hello{
    font-size: 2rem;
  }
  .main-content .name{
    font-size: 1.5rem;
    color: white;
   -webkit-text-stroke: .6px rgb(250, 70, 70);
  }
  .main-content #highlightRole{
    color: white;
   -webkit-text-stroke: 1px rgb(255, 255, 255);
  }
  .main-content #highlightRole1{
   -webkit-text-stroke: 1px rgba(176, 36, 36, 0.861);
   font-size: 1rem;
  }
 
  #highlight{
    font-weight: 700;
    font-size: .8rem;
  }
 
#wrapper #icons{
    min-height: 65vh;
    margin-top: -80px;
    min-width: 5vw;
  }
  #AboutMe{
    gap: 30px;
    height: 65vh;
  margin-top: -80px;
    min-width: 95%;
  }
 
  #AboutMe img{
    height:300px;
    min-width: 100%;
    align-self: center;
    margin-top: -20px;
  }
  .About-Container p{
    font-size: 1.2rem;
    padding-bottom: 45px;
  }
  #AboutMe .aboutName{
    font-size: 1.5rem;
    color: white;
   -webkit-text-stroke: .6px rgb(250, 70, 70);
  }
  #AboutMe .aboutMetitle{
    font-size: 2rem;
    font-weight: 900;
  }
  #thankyou {
    font-size: .9rem;
  }

#bottom{
  border: 1px solid rgba(255, 0, 0, 0);
  gap: 15px;
  margin-top: -70px;
  height: 10vh;
 
}
#skills-edu{
  height: 65vh;
  margin-top: -80px;
  min-width: 95%;
  }
  .skills-edu .education{
    font-size: 1rem;
    line-height: 1.2;
    margin-bottom: 150px;
  }
  .skills-edu .skills{
    font-size: 1rem;
    line-height: 1.2;
   
  }
 #skillsheading{
  margin-bottom: 10px;
 } 

 #Certifications{
  height: 65vh;
  margin-top: -80px;
   min-width: 95%;
}
#Certifications::-webkit-scrollbar{
  display: none;
}
  .Certifications .json {
    line-height: 1;
    font-size: 1rem;
    
  }

#ProjectContainer{
  height: 65vh;
  margin-top: -80px;
   min-width: 95%;
}
#ProjectContainer .projectTitle{
  margin-top: -5px;
}
#ProjectContainer .projects{
  margin-top: -2px;
}
#ProjectContainer .view{
 
  color: black;
}

#bottom button{
  font-size: 1rem;
  height: 40px;
  width: 10%;
  color: black;
  padding-left: 12px;
}

  #contact{
   flex-wrap: wrap;
   height: 65vh;
  margin-top: -80px;
   min-width: 95%;
   }

   .contact .contact__img{
    height: 140px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -45px;
  }
  #contact .title{
    font-size: 1.2rem;
  }
  #contact .submit{
    height: 40px;
    font-size:.7rem;
  }
  #contact .form .flex  input{
    height: 40px;
  }
  #contact .form textarea{
    height: 60px;
  }
  #contact .form {
    gap: 10px;
    min-width: 300px;
    height: 300px;
    padding: 20px;
    margin-bottom: -45px;
  }
  #ems-container{
    height: 65vh;
    margin-top: -80px;
    min-width: 95%;
  }
  #ems-header{
    width: 100%;
    min-height: 20%;
    padding-bottom: 80px;
  }
  #ems-header h2{
    -webkit-text-stroke: 1px rgb(250, 70, 70);
    font-size: .9rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.142);
    padding-bottom: 3px;
  }
  #ems-header span{
    font-size: .7rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.142);
    padding-bottom: 3px;
    margin-top:8px;
  }
  #summary{
    flex-wrap: wrap;
    margin-bottom: 150px;
    padding-bottom: 150px;
    padding-top: 150px;
    min-height: 100%;
  }
  #summary img{
    width: 100%;
    object-fit: contain;
    margin-top: -220px;
   height: 200px;
  }
  #summary #s-para{
    font-size: 1.1rem;
      line-height:1.1;
      height: 100%;
      padding-right: 5px;
      margin-top: -20px;
  }
  #functionalities{
    flex-wrap: wrap;
    margin-bottom: 150px;
    padding-bottom: 50px;
    min-height: 100%;
  }
  #functionalities video{
    width: 100%;
    object-fit: contain;
    margin-top: -100px;
    height: 200px;
  }
  #functionalities .f-para{
    font-size: 1.1rem;
    line-height:1.1;
    height: 100%;
    padding: 5px;
    margin-top: 25px;
  }
  #heading{
    font-size: .9rem;
    line-height:1;
  }

  #backend{
    flex-wrap: wrap;
    margin-bottom: 150px;
    padding-bottom: 50px;
    min-height: 40vh;
  }
  #backend img{
    width: 100%;
    object-fit: contain;
    margin-top: -200px;
    height: 200px;
  }
  #backend .b-para{
    font-size: 1.1rem;
    line-height:1.1;
    margin-top: 40px;
    padding-right: 5px;
  }
  
  #ems-container1{
    height: 65vh;
    margin-top: -80px;
    min-width: 95%;
  }
  #ems-header1{
    width: 100%;
    min-height: 20%;
    padding-bottom: 80px;
  }
  #ems-header1 h2{
    -webkit-text-stroke: 1px rgb(250, 70, 70);
    font-size: .9rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.142);
    padding-bottom: 3px;
  }
  #ems-header1 span{
    font-size: .7rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.142);
    padding-bottom: 3px;
    margin-top:4px;
  }
  #summary1{
    flex-wrap: wrap;
    margin-bottom: 150px;
    padding-bottom: 150px;
    padding-top: 150px;
    min-height: 100%;
  }
  #summary1 img{
    width: 100%;
    object-fit: contain;
    margin-top: -220px;
   height: 200px;
  }
  #summary1 #s-para{
    font-size: 1.1rem;
      line-height:1.1;
      height: 100%;
      padding-right: 5px;
      margin-top: -10px;
  }
  #functionalities1{
    flex-wrap: wrap;
    margin-bottom: 150px;
    padding-bottom: 50px;
    min-height: 100%;
  }
  #functionalities1 video{
    width: 100%;
    object-fit: contain;
    margin-top: -70px;
    height: 200px;
  }
  #functionalities1 .f-para{
    font-size: 1.1rem;
    line-height:1.1;
    height: 100%;
    padding: 5px;
    margin-top: 25px;
  }
  #heading1{
    font-size: .9rem;
    line-height:1;
  }

  #backend1{
    flex-wrap: wrap;
    margin-bottom: 150px;
    padding-bottom: 50px;
    min-height: 40vh;
  }
  #backend1 img{
    width: 100%;
    object-fit: contain;
    margin-top: -90px;
    height: 200px;
  }
  #backend .b-para{
    font-size: 1.1rem;
    line-height:1.1;
    margin-top: 40px;
    padding: 0px;
  }
  #functionalties .f-para{
    font-size: 1.1rem;
    line-height:1.1;
    margin-top: 40px;
    padding: 0px;
  }
  #summary .s-para{
    font-size: 1.1rem;
    line-height:1.1;
    margin-top: 40px;
    padding: 0px;
  }
  #backend1 .b-para{
    font-size: 1.1rem;
    line-height:1.1;
    margin-top: 40px;
    padding: 0px;
  }
  #functionalties1 .f-para{
    font-size: 1.1rem;
    line-height:1.1;
    margin-top: 40px;
    padding: 0px;
  }
  #summary1 .s-para{
    font-size: 1.1rem;
    line-height:1.1;
    margin-top: 40px;
    padding: 0px;
  }

}
@media (max-width:360px){
  
  #wrapper .main-content{
    height: 70vh;
    min-width: 95%;
  margin-top: -35px;
  }
  .intro-container p{
   line-height: 1.3;
   }
 .intro-container{
  margin-top: -30px;
 }
 .intro-container .hireme{
  min-height: 40px;
  margin-bottom: 20px;
 }
#wrapper #icons{
  min-height: 70vh;
  margin-top: -35px;
    min-width: 5vw;
  }
  #AboutMe{
    gap: 30px;
    min-height: 70vh;
    margin-top: -35px;
    min-width: 95%;
  }
 
  #AboutMe img{
    height:250px;
  }

#skills-edu{
  min-height: 70vh;
  margin-top: -35px;
  }

 #Certifications{
  min-height: 70vh;
  margin-top: -35px;
   min-width: 95%;
}

#ProjectContainer{
  min-height: 70vh;
  margin-top: -35px;
}
#bottom{
  gap: 15px;
  margin-top: -20px;
  height: 10vh;
 
}
#bottom button{
  font-size: 1rem;
  height: 40px;
  width: 10%;
  color: black;
  padding-left: 12px;
}

  #contact{
    min-height: 70vh;
    margin-top: -35px;
   }

   .contact .contact__img{
    height: 150px;
    margin-bottom: -50px;
  }
  #contact .form {
    margin-bottom: -50px;
  }
  #ems-header h2{
    -webkit-text-stroke: 1px rgb(250, 70, 70);
    font-size: .9rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.142);
    padding-bottom: 3px;
    margin-top:16px;
  }
  #ems-header span{
    font-size: .7rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.142);
    padding-bottom: 3px;
    margin-top:22px;
  }
  #summary img{
    width: 100%;
    object-fit: contain;
    margin-top: -220px;
   height: 200px;
  }
  #functionalities video{
    width: 100%;
    object-fit: contain;
    margin-top: 0px;
    height: 200px;
  }
  #functionalities #f-para{
    font-size: 1.1rem;
    line-height:1.1;
    margin-top: 0px;
    padding: 0px;
  }
  #backend img{
    width: 100%;
    object-fit: contain;
    margin-top: -45px;
    height: 200px;
  }
  #backend .b-para{
    padding-bottom: 20px;
    margin-top: -0px;
  }

  #ems-header1 h2{
    -webkit-text-stroke: 1px rgb(250, 70, 70);
    font-size: .9rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.142);
    padding-bottom: 3px;
    margin-top:16px;
  }
  #ems-header1 span{
    font-size: .7rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.142);
    padding-bottom: 3px;
    margin-top:8px;
  }
  #summary1{
    margin-bottom: 200px;
  }
  #summary1 #s-para{
    margin-top: -40px;
  }
  #summary1 img{
    width: 100%;
    object-fit: contain;
    margin-top: -220px;
   height: 200px;
  }
  #functionalities1 video{
    width: 100%;
    object-fit: contain;
    margin-top: -20px;
    height: 200px;
  }
  #functionalities1 #f-para{
    font-size: 1.1rem;
    line-height:1.1;
    margin-top: 10px;
    padding: 0px;
  }
  #backend1 img{
    width: 100%;
    object-fit: contain;
    margin-top: 10px;
    height: 200px;
  }
  #backend1 .b-para{
    padding-bottom: 20px;
    margin-top: 10px;
  }

}

